.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Full height of the viewport */
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: #2a2a2d;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto; /* Allows scrolling */
  padding: 10px;
  background-color: #2a2a2d;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  width: 800px;
  height: 100vh;
  left: 560px;
  right: 600px;
  position: absolute;
}

.message {
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.input-box {
  position: absolute;
  bottom: 60px; /* Distance from the bottom of the chat-container */
  left: 560px; /* Distance from the left of the chat-container */
  right: 10px; /* Distance from the right of the chat-container */
  padding: 20px;
  width: 700px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  background-color: grey;
  z-index: 10;
}
